@font-face {
  font-family: 'Mulish';
  src: url('/fonts/Mulish-Regular.ttf') format('truetype');
}

html,
body {
  font-family: 'Mulish', sans-serif;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;

  #__nuxt {
    height: 100%;
    width: 100%;

    .common-layout {
      width: 100%;
      height: 100%;

      .el-container {
        width: 100%;
        height: 100%;
      }
    }
  }

  .section-container {
    height: calc(100% - 49px);
    border-top: 1px solid var(--el-menu-border-color);
  }

  .section-header {
    height: calc(50px);
  }

  .el-menu-item {
    padding: 0px 20px;
  }

  .el-dialog {
    .el-dialog__body {
      padding-left: 32px;
      padding-right: 32px;
    }
  }
}