html,
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;

  #__nuxt {
    height: 100%;
    width: 100%;

    .common-layout {
      width: 100%;
      height: 100%;

      .el-container {
        width: 100%;
        height: 100%;
      }
    }
  }

  .section-container {
    height: calc(100% - 40px);
  }

  .section-header {
    height: calc(40px);
  }

  .el-menu-item {
    padding: 0px 20px;
  }
}